// Ignore all hidden files and folders
// except the ones we specifically allow
.*
!.bowerrc
!.gitignore
!.gitkeep

// Also ignore these files and folders
// that we specify here
_notes
bower_components
debug.log
fonts
node_modules
./package-lock.json
scripts.min.js
style.css
style.css.map
